<html>
<body>

<h2>Detalhes do Médico</h2>

<table>
    <tr>
        <th>Nome</th>
        <td>{{ medico.nome }}</td>
    </tr>
    <tr>
        <th>CPF</th>
        <td>{{ medico.cpf }}</td>
    </tr>
    <tr>
        <th>CRM</th>
        <td>{{ medico.crm }}</td>
    </tr>
    <tr>
        <th>Nascimento</th>
        <td>{{ medico.data_nascimento }}</td>
    </tr>
    <tr>
        <th>Cidade</th>
        <td>{{ medico.cidade }}</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>{{ medico.email }}</td>
    </tr>
        <th>Especialidade</th>
        <td>{{ medico.especialidade }}</td>
    </tr>
</table>

</body>
</html>